# Support Bazel modules by default.
common:bzlmod --experimental_enable_bzlmod

# Use an vendored central registry snapshot.
common:bzlmod --registry=https://raw.githubusercontent.com/bazelembedded/bazel-central-registry/ca1e2cb/

# Test passthrough execution wrapper
common:passthrough_wrapper --run_under=//emulation:passthrough
build --incompatible_strict_action_env